@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("black.jpg");
  background-size: cover;

}
.wrapper{
  position: relative;
  max-width: 430px;
  width: 100%;
  background: rgb(51, 51, 51);
  /*전체 wrap 배경*/
  padding: 34px;
  border-radius: 6px;
}
.wrapper h2{
  position: relative;
  font-size: 28px;
  font-weight: 560;
  color: white;
  /*회원가입*/
}
/*.wrapper h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 88px;
  border-radius: 12px;
  background: #4070f4;
}
회원가입 밑줄*/

.wrapper form{
  margin-top: 30px;
}
.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;
}
form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
  border-color: #4070f4;
  /*입력 빈칸 테두리*/
}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #fff;
  /*Register 글씨*/
  letter-spacing: 1px;
  border: none;
  background: #999;
  /*Register 버튼 배경*/
  cursor: pointer;
}
.input-box.button input:hover{
  background: #4e66ad;
  /*register 버튼 클릭 시*/
}
form .text h3{
 color: white;
 width: 100%;
 text-align: center;
 /*이미 계정이 있는 경우*/
}
form .text h3 a{
  color: #4070f4;
  /*로그인*/
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}
