{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<link rel="stylesheet" href="loginstyle.css">
<section class = "login-form">
    <h1>ICE+</h1>
    <form action="">
        <div class="int-area">
            <input type="text" name="id" id="id"
            autocomplete="off" required>
            <label for="id">NAME</label>
        </div>
        <div class="int-area">
            <input type="password" name="pw" id="pw"
            autocomplete="off" required>
            <label for="pw">PASSWORD</label>
        </div>
        <div class = "btn-area">
            <button type="submit">LOGIN</button>
        </div>
    </form>
    <div class="caption">
        <a href="signup">Create account</a>
    </div>
</section>
{% endblock %}
