{% load static %}   
   <head>
        <meta charset="UTF-8">
        <title>Login-page1</title>
        <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}">
    </head>
    <body>
        <section class = "login-form">
            <h1>로그인</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="int-area">
                    <!-- required를 사용해 검증 로직 -->
                    <input type="text" name="username" 
                    autocomplete="off" required>
                    <label for="username">NAME</label>
                </div>
                <div class="int-area">
                    <input type="password" name="password" 
                    autocomplete="off" required>
                    <label for="password">PASSWORD</label>
                </div>
                <div class = "btn">
                    <input type="submit" value ="Login">
                </div>
            </form>
        </section>
    </body>
</html>