{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
{% if board %}
    <table style="text-align:center; width:700px; border:1px solid black;">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>내용</th>
                <th>작성자</th>
                <th>수정하기</th>
                <th>삭제하기</th>
            </tr>
        </thead>
            {% for board_list in board %}
            <tbody>
                <tr>
                    <td>{{ board_list.pk }}</td>
                    <td>{{ board_list.title }}</td>
                    <td>{{ board_list.content }}</td>
                    <td>{{ board_list.writer }}</td>
                    <td><button class="btn btn-secondary rounded-pill" onclick="location.href='/edit/{{board_list.pk}}'">수정</button></td>
                    <td><button class="btn btn-danger rounded-pill" onclick="location.href='/delete/{{board_list.pk}}'">삭제</button></td>
                </tr>
            </tbody>
            {% endfor %}
    </table>
{% endif %}
    <div>
        <form action="" method="POST" style="max-width:500px; margin:4rem;">
            {% csrf_token %}
            {% bootstrap_form boardForm %}
            <button type="submit" class="btn btn-primary rounded-pill col-12">POST</button>
        </form>
    </div>
{% endblock %}